<div class="container m-auto my-4">
  <div class="bg-white pg-10 border rounded">
      <div id="all-posts" class="tab-panel p-5">
          <h1 class="text-xl"><strong>Posts</strong></h1>

          <% @posts.each do |post| %>
              <div class="flex flex-wrap items-center justify-start p-4 border-b-2 border-grey-100 mb-6">
                  <div class="flex-1 flex justify-between">
                      <div>
                          <%= link_to post.title, post, class: "btn-link mr-4"%>
                      </div>
                      <div>
                          <p><%= post.category %></p>
                      </div>
                  </div>
              </div>
              <%#= link_to "Delete Post", post, method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-red ml-4" if admin? %>
          <% end %>
      </div>
  </div>
</div>
